p{
text-align: center;
}

.bbb{
    background-color: #38ade7;
    border-radius: 25px;
    border: 2px solid #38ade7;
    padding: 20px;
    width: 450px;
    height: 640px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.borde{
    color: rgb(0, 85, 255);
    border-radius: 25px;
    border: 2px solid #38ade7;
    padding: 15px;
    width: 70px;
    height: 20px;
    margin: auto;
    margin-top: 10px;
    background-color: #96ccff;
    
}

.bordeV2{
    color: rgb(0, 85, 255);
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 250px;
    height: 130px;
    margin-top: 10px;
    margin: auto;
    background-color: #96ccff;
}

.bordeV3{
    color: rgb(0, 85, 255);
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 400px;
    height: 70px;
    margin-top: 1px;
    background-color: #96ccff;
}

.bordeV4{
    color: rgb(57, 57, 255);
    border-radius: 25px;
    border: 2px solid #38ade7;
    padding: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 1px;
    margin-top: 0px;
    
}

.foto{
width: 120px;
height: auto;
border-radius: 50%;
}

.span{
    color: rgb(0, 85, 255);
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 50px;
    height: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #96ccff;

}

.spanV2{
    color: rgb(0, 85, 255);
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 150px;
    height: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #96ccff;

}

.spanV3{
    color: rgb(0, 85, 255);
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 60px;
    height: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #96ccff;

}

.tags{
display: flex;
justify-content: center;
}

.title{
font-size: 20px;
margin-top: 5px;
}

